<a href="https://colab.research.google.com/github/Kewton/kewton.blog.colab/blob/master/web%E3%83%9A%E3%83%BC%E3%82%B8_%3EExcel_%3EDatabase%E3%82%B5%E3%83%B3%E3%83%97%E3%83%AB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ① Google ドライブの指定のフォルダにExcelファイルをダウンロードする

In [1]:
# Googleドライブのマウント
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# .xlsと.xlsxを読み込むために必要
! pip install xlrd==2.0.0

Collecting xlrd==2.0.0
  Downloading xlrd-2.0.0-py2.py3-none-any.whl (95 kB)
     |████████████████████████████████| 95 kB 3.3 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.0

## ダウンロードフォルダの指定

In [3]:
# ダウンロードフォルダの指定
_basepath = r"/content/drive/MyDrive/Colab Notebooks/data_temp/"

In [4]:
# ダウンロード対象のURLリストの準備
urllist = [
  ("https://www.stat.go.jp/data/jinsui/2019np/zuhyou/05k01-3.xlsx", "jinsui_2019_zuhyou3_data.xlsx"),
  ("https://www.stat.go.jp/data/jinsui/2018np/zuhyou/05k30-3.xls","jinsui_2018_zuhyou3_data.xls"),
  ("https://www.stat.go.jp/data/jinsui/2017np/zuhyou/05k29-3.xls","jinsui_2017_zuhyou3_data.xls"),
  ("https://www.stat.go.jp/data/jinsui/2016np/zuhyou/05k28-3.xls","jinsui_2016_zuhyou3_data.xls"),
#  ("https://www.stat.go.jp/data/jinsui/2015np/zuhyou/05k27-3.xls","jinsui_2015_zuhyou3_data.xls"), e-Startにデータあり
  ("https://www.stat.go.jp/data/jinsui/2014np/zuhyou/05k26-3.xls","jinsui_2014_zuhyou3_data.xls"),
  ("https://www.stat.go.jp/data/jinsui/2013np/zuhyou/05k25-3.xls","jinsui_2013_zuhyou3_data.xls"),
  ("https://www.stat.go.jp/data/jinsui/2012np/zuhyou/05k24-3.xls","jinsui_2012_zuhyou3_data.xls"),
  ("https://www.stat.go.jp/data/jinsui/2011np/zuhyou/05k23-3.xls","jinsui_2011_zuhyou3_data.xls"),
#  ("https://www.stat.go.jp/data/jinsui/2010np/zuhyou/05k22-3.xls","jinsui_2010_zuhyou3_data.xls"), e-Startにデータあり
  ("https://www.stat.go.jp/data/jinsui/2009np/zuhyou/05k21-3.xls","jinsui_2009_zuhyou3_data.xls"),
  ("https://www.stat.go.jp/data/jinsui/2008np/zuhyou/05k20-3.xls","jinsui_2008_zuhyou3_data.xls"),
  ("https://www.stat.go.jp/data/jinsui/2007np/zuhyou/05k19-3.xls","jinsui_2007_zuhyou3_data.xls")
#  ("https://www.stat.go.jp/data/jinsui/2006np/zuhyou/05k18-3.xls","jinsui_2006_zuhyou3_data.xls") e-Startにデータあり
]

## 指定のフォルダにExcelファイルをダウンロード

In [5]:
# 指定のフォルダにExcelファイルをダウンロード
# pandasから直接URLを指定する方法は上手く行かないので一度ダウンロードする
import os
import requests

os.makedirs(_basepath)
filelistInGoogleDrive = []
for (url, filename) in urllist:
  urlData = requests.get(url).content
  filefullpath = _basepath + filename
  filelistInGoogleDrive.append(filefullpath)
  print(filefullpath)
  with open(filefullpath ,mode='wb') as f: # wb でバイト型を書き込める
    f.write(urlData)

/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2019_zuhyou3_data.xlsx
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2018_zuhyou3_data.xls
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2017_zuhyou3_data.xls
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2016_zuhyou3_data.xls
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2014_zuhyou3_data.xls
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2013_zuhyou3_data.xls
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2012_zuhyou3_data.xls
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2011_zuhyou3_data.xls
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2009_zuhyou3_data.xls
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2008_zuhyou3_data.xls
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2007_zuhyou3_data.xls

# ② ダウンロードしたExcelファイルを読み込んで DataFrame に格納する

In [6]:
# ダウンロードしたExcelファイルの読み込み
import os
import pandas as pd

dfs = {}
filepathlistInGoogleDrive = []

for (url, filename) in urllist:
  filefullpath = _basepath + filename
  filepathlistInGoogleDrive.append(filefullpath)

# カラム名を指定
colnames=[
          "A",
          "B_県index",
          "C_県",
          "D",
          "E_男女計_15歳未満",
          "F_男女計_15～64歳",
          "G_男女計_65歳以上",
          "H_男女計_65歳以上_うち75歳以上",
          "I_男_15歳未満",
          "J_男_15～64歳",
          "K_男_65歳以上",
          "L_男_65歳以上_うち75歳以上",
          "M_女_15歳未満",
          "N_女_15～64歳",
          "O_女_65歳以上",
          "P_女_65歳以上_うち75歳以上"
]

i=0
for _path in filepathlistInGoogleDrive:
  print(_path)

  # 14行目から読み込む
  skip_rows = range(0,13)
  _filename, ext = os.path.splitext(os.path.basename(_path))
  df_temp = pd.read_excel(_path, header=None, skiprows=skip_rows, names=colnames)
  
  # 一番左に列を追加しファイル名を格納
  df_temp.insert(0, 'filename', _filename)
  
  # "C:県"に格納されている値にtrimを実施
  # ※桁数を揃えるために空白が格納されているため
  df_temp["C_県"] = df_temp["C_県"].str.strip()

  # 1つのDataFrameに集約
  if i==0:
    df = df_temp
  else:
    df = pd.concat([df, df_temp])
  i+=1

/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2019_zuhyou3_data.xlsx
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2018_zuhyou3_data.xls
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2017_zuhyou3_data.xls
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2016_zuhyou3_data.xls
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2014_zuhyou3_data.xls
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2013_zuhyou3_data.xls
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2012_zuhyou3_data.xls
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2011_zuhyou3_data.xls
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2009_zuhyou3_data.xls
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2008_zuhyou3_data.xls
/content/drive/MyDrive/Colab Notebooks/data_temp/jinsui_2007_zuhyou3_data.xls

In [7]:
df.head()

,filename,A,B_県index,C_県,D,E_男女計_15歳未満,F_男女計_15～64歳,G_男女計_65歳以上,H_男女計_65歳以上_うち75歳以上,I_男_15歳未満,J_男_15～64歳,K_男_65歳以上,L_男_65歳以上_うち75歳以上,M_女_15歳未満,N_女_15～64歳,O_女_65歳以上,P_女_65歳以上_うち75歳以上
0,jinsui_2019_zuhyou3_data,NaN,1,北海道,NaN,565,3012,1673,853,289,1484,699,323,276,1528,973,530
1,jinsui_2019_zuhyou3_data,NaN,2,青森県,NaN,133,699,415,214,68,348,170,77,65,351,245,137
2,jinsui_2019_zuhyou3_data,NaN,3,岩手県,NaN,137,684,406,218,70,350,172,80,67,334,234,137
3,jinsui_2019_zuhyou3_data,NaN,4,宮城県,NaN,272,1382,652,330,139,702,286,129,132,680,367,201
4,jinsui_2019_zuhyou3_data,NaN,5,秋田県,NaN,95,512,359,194,48,257,149,70,46,255,211,124

# ③ ②の結果をDataBaseに登録する

In [8]:
_colab_dir = "/content/drive/MyDrive/Colab Notebooks/"
db_path = 'sqlite:///' + _colab_dir + 'web2Excel.sqlite3'

In [9]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

engine = create_engine(db_path)
SessionClass = sessionmaker(engine)  # セッションを作るクラスを作成
session = SessionClass()

In [10]:
df.to_sql('excel_data', engine, index=False, if_exists='append')

# ④ 蓄積したデータの取り出し

In [11]:
import pandas as pd
df_2 = pd.read_sql("select * from excel_data where C_県 like '東京%'", session.bind)
df_2.head(60)

,filename,A,B_県index,C_県,D,E_男女計_15歳未満,F_男女計_15～64歳,G_男女計_65歳以上,H_男女計_65歳以上_うち75歳以上,I_男_15歳未満,J_男_15～64歳,K_男_65歳以上,L_男_65歳以上_うち75歳以上,M_女_15歳未満,N_女_15～64歳,O_女_65歳以上,P_女_65歳以上_うち75歳以上
0,jinsui_2019_zuhyou3_data,None,13,東京都,None,1553,9158,3209,1692,794,4663,1389,661,760,4496,1820,1031
1,jinsui_2018_zuhyou3_data,None,13,東京都,None,1550,9084,3189,1641,792,4630,1380,640,758,4453,1808,1001
2,jinsui_2017_zuhyou3_data,None,13,東京都,None,1542,9021,3160,1588,788,4605,1368,618,754,4417,1793,970
3,jinsui_2016_zuhyou3_data,None,13,東京都,None,1535,8969,3120,1529,784,4583,1350,594,751,4386,1771,936
4,jinsui_2014_zuhyou3_data,None,13,東京都,None,1517,8862,3011,1433,776,4531,1301,557,741,4331,1710,876
5,jinsui_2013_zuhyou3_data,None,13,東京都,None,1503,8883,2914,1393,769,4543,1255,540,735,4340,1659,853
6,jinsui_2012_zuhyou3_data,None,13,東京都,None,1494,8924,2812,1347,764,4565,1206,521,730,4358,1606,826
7,jinsui_2011_zuhyou3_data,None,13,東京都,None,1491,8992,2713,1295,762,4602,1159,499,728,4390,1554,796
8,jinsui_2009_zuhyou3_data,None,13,東京都,None,1526,8658,2685,1212,783,4444,1176,483,744,4213,1509,729
9,jinsui_2008_zuhyou3_data,None,13,東京都,None,1517,8723,2599,1156,778,4478,1136,457,739,4244,1463,699
10,jinsui_2007_zuhyou3_data,None,13,東京都,None,1494,8756,2509,1096,766,4494,1094,430,727,4262,1415,667